body{
    text-align: center;
}
.div-heading{
    background-color: #393e46;
    color: #fff;
    font-family: 'Monda', sans-serif;
    padding: 10px;
    
}
#card-section{
    margin-top: 15%;
    
}

.fas{
    margin-right: 10px;
}